In [31]:
import pandas as pd
import numpy as np

In [32]:
#Primeiras linhas
df_vendas = pd.read_csv('/content/vendas.csv')

In [ ]:
df_vendas.head()

In [ ]:
#Últimas linhas
df_vendas.tail()

In [ ]:
#Verificando informações gerais do DF
df_vendas.info()

In [ ]:
df_vendas.describe()

In [34]:
#Criar uma coluna chamada Receita Total (Quantidade * Preco_unitário)
df_vendas['Receita_Total'] = df_vendas['Quantidade'] * df_vendas['Preco_Unitario']
df_vendas.head()

,ID_Venda,Produto,Quantidade,Preco_Unitario,Data_Venda,Receita_Total
0,1,Cadeira Gamer,29,1202.86,2023-05-01,34882.94
1,2,Roteador Wi-Fi,17,737.71,2025-10-02,12541.07
2,3,Roteador Wi-Fi,12,760.47,2023-04-28,9125.64
3,4,Cadeira Gamer,4,875.04,2024-09-30,3500.16
4,5,Controle Xbox,23,967.56,2024-06-09,22253.88

In [ ]:
#Selecionar apenas as colunas Produto e Receita Total
df_vendas[['Produto', 'Receita_Total']].head()

In [ ]:
#Linhas onde a quantidade é maior que 20
df_vendas[df_vendas['Quantidade'] > 20].head()

In [ ]:
#loc (selecionar linhas e colunas por rótulo (Produto = 'Monitor'))
df_vendas.loc[df_vendas['Produto'] == "Monitor", ['ID_Venda', 'Quantidade', 'Preco_Unitario']].head()

In [ ]:
#Selecionar as primeiras 3 linhas e as colunas de 1 a 3
df_vendas.iloc[0:3, 1:4]

In [ ]:
#Cálculos (Pandas e Numpy)"
#Descobrir o faturamento (Receita Total)
print(f'Receita Total de Vendas da Loja: {df_vendas['Receita_Total'].sum():.2f}')

In [ ]:
#Preço médio unitário dos produtos
print(f'O preço médio unitário dos produtos é: {df_vendas['Preco_Unitario'].mean():.2f}')

In [ ]:
#Quantidade mínima e máxima de produtos vendidos
print(f'Quantidade mínima de produtos vendidos: {df_vendas['Quantidade'].min()}')
print(f'Quantidade máximo de produtos vendidos: {df_vendas['Quantidade'].max()}')

In [35]:
#Simular valores ausentes dentro do DF
df_vendas_com_nan = df_vendas.copy()
df_vendas_com_nan.loc[df_vendas_com_nan.sample(frac=0.05).index, 'Preco_Unitario'] = np.nan
df_vendas_com_nan.loc[df_vendas_com_nan.sample(frac=0.03).index, 'Quantidade'] = np.nan

# Verificar se existe valores ausentes
#df_vendas_com_nan.info()
df_vendas_com_nan.isna().sum()

ID_Venda           0
Produto            0
Quantidade        30
Preco_Unitario    50
Data_Venda         0
Receita_Total      0
dtype: int64

In [36]:
# Preencher com a média os valores nulos da coluna Quantidade (fillna)
df_vendas_preenchido = df_vendas_com_nan.copy()
media_qtd = df_vendas_preenchido['Quantidade'].mean()
df_vendas_preenchido['Quantidade'].fillna(media_qtd, inplace=True)

/tmp/ipython-input-3107288735.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_vendas_preenchido['Quantidade'].fillna(media_qtd, inplace=True)

In [ ]:
df_vendas_preenchido.info()

In [37]:
#Remover os valores ausentes encontrados em Preço Unitário
df_vendas_limpo = df_vendas_preenchido.dropna(subset=['Preco_Unitario'])

In [ ]:
df_vendas_limpo.info()

In [40]:
#Agrupar por produtos e calcular quantidade e receita total
vendas_por_produto = df_vendas_limpo.groupby('Produto').agg(
    Quantidade_Total = ('Quantidade', 'sum'),
    Receita_Total = ('Receita_Total', 'sum')
).reset_index()
print(vendas_por_produto)

            Produto  Quantidade_Total  Receita_Total
0     Cadeira Gamer        743.412371      623503.08
1      Caixa de Som        778.206186      676209.07
2      Controle PS5        639.206186      434832.67
3     Controle Xbox        795.412371      667855.59
4    Câmera Digital        850.206186      585490.06
5    Fone de ouvido        561.206186      369624.24
6    HD Externo 1TB       1035.618557      801815.53
7        Impressora        627.412371      504857.64
8   Memória RAM 8GB        651.206186      505638.37
9        Mesa Gamer        684.206186      489537.94
10        Microfone        752.206186      475658.59
11          Monitor        527.000000      469344.09
12            Mouse        862.412371      740099.84
13   Placa de Vídeo        737.206186      594243.41
14      Processador        381.000000      259035.12
15   Roteador Wi-Fi        886.206186      633738.67
16        SSD 256GB        789.618557      643210.22
17          Teclado        753.000000      457463.94
18           Webcam        638.000000      429910.55
19        Óculos VR        787.618557      611213.54

In [41]:
#Ordenar os valores por quantidade total para saber o produto mais vendido
produto_mais_vendido = vendas_por_produto.sort_values(by='Quantidade_Total', ascending=False).iloc[0]
print(produto_mais_vendido)

Produto             HD Externo 1TB
Quantidade_Total       1035.618557
Receita_Total            801815.53
Name: 6, dtype: object

In [42]:
# Ordenar os valores por receita total para saber o maior valor total gerado
produto_maior_receita = vendas_por_produto.sort_values(by='Receita_Total', ascending=False).iloc[0]
print(produto_maior_receita)

Produto             HD Externo 1TB
Quantidade_Total       1035.618557
Receita_Total            801815.53
Name: 6, dtype: object

In [45]:
df_produtos = pd.read_csv('/content/produtos.csv')
df_produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Produto    20 non-null     object
 1   Categoria  20 non-null     object
dtypes: object(2)
memory usage: 452.0+ bytes

In [44]:
df_produtos.head()

          Produto    Categoria
0         Teclado  Periféricos
1           Mouse  Periféricos
2         Monitor    Monitores
3          Webcam  Periféricos
4  Fone de ouvido        Áudio

In [46]:
#Converter a coluna Data_Venda para o tipo correto de data
df_vendas_limpo['Data_Venda'] = pd.to_datetime(df_vendas_limpo['Data_Venda'])

/tmp/ipython-input-3029563670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vendas_limpo['Data_Venda'] = pd.to_datetime(df_vendas_limpo['Data_Venda'])

In [47]:
df_vendas_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 0 to 999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Venda        950 non-null    int64
 1   Produto         950 non-null    object
 2   Quantidade      950 non-null    float64
 3   Preco_Unitario  950 non-null    float64
 4   Data_Venda      950 non-null    datetime64[ns]
 5   Receita_Total   950 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 52.0+ KB

In [48]:
#Analisar as vendas por mês
df_vendas_limpo['Mes_Venda'] = df_vendas_limpo['Data_Venda'].dt.month

/tmp/ipython-input-3485528901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vendas_limpo['Mes_Venda'] = df_vendas_limpo['Data_Venda'].dt.month

In [49]:
df_vendas_limpo.head()

,ID_Venda,Produto,Quantidade,Preco_Unitario,Data_Venda,Receita_Total,Mes_Venda
0,1,Cadeira Gamer,29.0,1202.86,2023-05-01,34882.94,5
1,2,Roteador Wi-Fi,17.0,737.71,2025-10-02,12541.07,10
2,3,Roteador Wi-Fi,12.0,760.47,2023-04-28,9125.64,4
3,4,Cadeira Gamer,4.0,875.04,2024-09-30,3500.16,9
4,5,Controle Xbox,23.0,967.56,2024-06-09,22253.88,6

In [50]:
#Agrupar por mês para calcular a receita total mês a mês
vendas_por_mes = df_vendas_limpo.groupby('Mes_Venda')['Receita_Total'].sum().reset_index()
print(vendas_por_mes)

    Mes_Venda  Receita_Total
0           1      967384.41
1           2     1203938.41
2           3      902040.71
3           4      899816.24
4           5     1153308.64
5           6      978395.30
6           7      803505.43
7           8     1052798.56
8           9     1016876.94
9          10      825262.71
10         11      576545.44
11         12      593409.37

In [51]:
#Combinar os Dados de vendas e produtos
df_merge = pd.merge(df_vendas, df_produtos, on='Produto', how='left')
print(df_merge)

     ID_Venda         Produto  Quantidade  Preco_Unitario  Data_Venda  \
0           1   Cadeira Gamer          29         1202.86  2023-05-01
1           2  Roteador Wi-Fi          17          737.71  2025-10-02
2           3  Roteador Wi-Fi          12          760.47  2023-04-28
3           4   Cadeira Gamer           4          875.04  2024-09-30
4           5   Controle Xbox          23          967.56  2024-06-09
..        ...             ...         ...             ...         ...
995       996      Impressora          11          878.36  2024-04-20
996       997       Óculos VR           3         1173.65  2024-08-23
997       998  Fone de ouvido          13          109.07  2024-08-11
998       999  HD Externo 1TB          16          691.38  2023-07-05
999      1000  Câmera Digital           7         1201.48  2024-07-03

     Receita_Total      Categoria
0         34882.94         Móveis
1         12541.07          Redes
2          9125.64          Redes
3          3500.16         Móveis
4         22253.88          Games
..             ...            ...
995        9661.96    Periféricos
996        3520.95          Games
997        1417.91          Áudio
998       11062.08  Armazenamento
999        8410.36        Câmeras

[1000 rows x 7 columns]

In [52]:
#Análise de vendas por categoria (Receita Total por categoria)
vendas_por_categoria = df_merge.groupby('Categoria')['Receita_Total'].sum().reset_index()
print(vendas_por_categoria)

       Categoria  Receita_Total
0  Armazenamento     1518491.43
1    Componentes     1429498.13
2        Câmeras      668145.67
3          Games     1797070.28
4      Monitores      485784.91
5         Móveis     1157784.07
6    Periféricos     2307831.30
7          Redes      635921.17
8          Áudio     1610307.03

In [53]:
#Filtragem dentro do DataFrame
# Filtrar por coluna (Produto, Quantidade, Receita_Total)
df_colunas_filtradas = df_merge.filter(items=['Produto', 'Quantidade', 'Receita_Total'])
print(df_colunas_filtradas)

            Produto  Quantidade  Receita_Total
0     Cadeira Gamer          29       34882.94
1    Roteador Wi-Fi          17       12541.07
2    Roteador Wi-Fi          12        9125.64
3     Cadeira Gamer           4        3500.16
4     Controle Xbox          23       22253.88
..              ...         ...            ...
995      Impressora          11        9661.96
996       Óculos VR           3        3520.95
997  Fone de ouvido          13        1417.91
998  HD Externo 1TB          16       11062.08
999  Câmera Digital           7        8410.36

[1000 rows x 3 columns]

In [54]:
#Filtragem mais avançadas (Produto Teclado, quantidade > 10)
df_query = df_merge.query('Produto == "Teclado" and Quantidade > 10')
print(df_query)

     ID_Venda  Produto  Quantidade  Preco_Unitario  Data_Venda  Receita_Total  \
69         70  Teclado          23         1159.02  2025-03-18       26657.46
71         72  Teclado          27           94.04  2025-07-17        2539.08
107       108  Teclado          26          715.91  2024-03-17       18613.66
118       119  Teclado          25          100.25  2024-10-28        2506.25
124       125  Teclado          18          289.54  2024-10-01        5211.72
150       151  Teclado          25         1471.75  2023-10-28       36793.75
151       152  Teclado          26          183.43  2025-03-20        4769.18
304       305  Teclado          15          233.59  2024-12-16        3503.85
331       332  Teclado          21         1135.01  2025-03-07       23835.21
339       340  Teclado          28          665.65  2025-02-24       18638.20
359       360  Teclado          16          300.38  2025-08-05        4806.08
400       401  Teclado          25         1257.56  2023-03-07       31439.00
495       496  Teclado          14          717.33  2025-07-15       10042.62
505       506  Teclado          27         1027.91  2023-02-13       27753.57
534       535  Teclado          17          602.49  2023-06-22       10242.33
544       545  Teclado          11          638.11  2025-09-23        7019.21
552       553  Teclado          27          380.90  2024-02-08       10284.30
558       559  Teclado          24          251.94  2024-03-01        6046.56
573       574  Teclado          17          985.04  2024-07-17       16745.68
578       579  Teclado          17         1479.28  2024-01-06       25147.76
601       602  Teclado          20          460.50  2023-09-19        9210.00
606       607  Teclado          20          403.52  2023-05-09        8070.40
648       649  Teclado          11           47.02  2023-01-12         517.22
679       680  Teclado          17         1443.00  2023-08-01       24531.00
686       687  Teclado          18         1174.57  2023-08-26       21142.26
696       697  Teclado          29          571.98  2023-01-07       16587.42
699       700  Teclado          24           44.12  2025-08-18        1058.88
720       721  Teclado          21           80.22  2025-08-18        1684.62
758       759  Teclado          24           74.73  2024-11-13        1793.52
836       837  Teclado          16         1043.42  2023-04-12       16694.72
855       856  Teclado          20          675.60  2024-08-15       13512.00
893       894  Teclado          29          891.09  2024-11-11       25841.61
903       904  Teclado          17           47.63  2023-12-06         809.71
923       924  Teclado          21          508.62  2023-05-24       10681.02
943       944  Teclado          25          919.71  2025-02-04       22992.75
970       971  Teclado          14          841.53  2023-04-27       11781.42

       Categoria
69   Periféricos
71   Periféricos
107  Periféricos
118  Periféricos
124  Periféricos
150  Periféricos
151  Periféricos
304  Periféricos
331  Periféricos
339  Periféricos
359  Periféricos
400  Periféricos
495  Periféricos
505  Periféricos
534  Periféricos
544  Periféricos
552  Periféricos
558  Periféricos
573  Periféricos
578  Periféricos
601  Periféricos
606  Periféricos
648  Periféricos
679  Periféricos
686  Periféricos
696  Periféricos
699  Periféricos
720  Periféricos
758  Periféricos
836  Periféricos
855  Periféricos
893  Periféricos
903  Periféricos
923  Periféricos
943  Periféricos
970  Periféricos